.button {


    background-color: #9f68e0;
    color: #fff;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    padding: .2rem 2.5rem;
    font-size: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    &:hover{
        
    }
    &:active{
        transform: scale(.97);
    }
}