.Caja {
    padding: 3.12rem 1.25rem;
    width: min(100%, 50rem);
    min-height: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text1{
        width: min(100%, 30rem);
        
    }
}

.contentCaja {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
}